numpy
pandas
scikit-learn
tensorflow
scapy
streamlit
matplotlib
seaborn
joblib
plotly
requests
folium
streamlit-folium
streamlit-aggrid
reportlab
python-dotenv
cicflowmeter
confluent-kafka
streamlit-autorefresh
